{% extends 'EntregaCoder/Padre.html' %}
{% load static %}



{% block contenidomodificable %}

    <!--Aca va lo que se modifica-->
    <form action="/comentariosFormularios/" method="post">
        <p>Comentarios: <input type="text" name="comentarios"></p>
        <input type="submit" value="Enviar">

    

{% endblock %}

<!---creo que este es el esqueleto que va aqui-->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
    <h1>
        <form action="/comentariosFormularios/" method="post">
            <p>Comentarios: <input type="text" name="comentarios"></p>
            <input type="submit" value="Enviar">    
    
    </h1>
  </body>
</html>