{% load static %}

<link rel="stylesheet" href="{% static 'EntregaCoder1/bootstrap.min.css' %}">

<!--Barra de navegacion-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="">PelisApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'Inicio' %}">Inicio
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Peliculas' %}">Peliculas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Añadir' %}">Añadir</a>
          </li>
          <!--Esta es la barra de busqueda -->
          <form action="/EntregaCoder/Peliculas/" method="POST"> {% csrf_token %}

            <input type="text" name="pelis">
            <input type="submit" value="Buscar"> 
        </form>
        </ul>
      </div>
    </div>
  </nav>

  <body>
    {% block cuerpo %}
    {% endblock %}
  </body>